<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>さよなら人類、ようこそ機械</h1>
    <p class="text-center">
      スクラムについて：
      <a href="https://ja.wikipedia.org/wiki/スクラム_(ソフトウェア開発)">スクラム (ソフトウェア開 wiki</a>
    </p>
  </body>
</html>
