<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
  <center>
    <h1>さよなら人類、ようこそ機械</h1>
    <p>
      1.スクラムについて：
      <a href="https://ja.wikipedia.org/wiki/スクラム_(ソフトウェア開発)">スクラム Wiki</a>
    </p>

    <p>
    2. タイマ
    <p>
    <center>
  </body>
</html>
